<input type="text" id="message" />
<button onclick='
$.ajax({
	type: "POST",
	url: "new_message",
	data: {message: document.getElementById("message").value},
	dataType: "html",
	error: function(xhr,err){
	    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
	    alert("responseText: " + xhr.responseText);
		alert(err);
	}
});'>Hello</button>

<div id='chatdiv' style='height: 150px; width: 100%; overflow: auto;'></div>
