<!DOCTYPE html>
<html>
<head>
  	<title>Chatapp1</title>

	<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	
	
	<script>
		var pusher = new Pusher('0d22bb6090acca83850d');
		var channel = pusher.subscribe('chatapp1');
		channel.bind('new_message', function(data) {
			span = document.createElement("span");
			span.innerHTML = "<b>" + data.username + ": </b>" + data.message + "<br />";
			document.getElementById("chatdiv").appendChild(span);
		});
	</script>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>
